@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}



/* NAVBAR */
nav ul li:hover {
    background-color: #198754; /* Cambia el color de fondo a rojo cuando se pasa el mouse por encima */
    color: #ffffff; /* Cambia el color del texto a blanco cuando se pasa el mouse por encima */
  }
  

#btnCreate{
    border: 2px solid #efefef;
}