{% extends "baseGymEspacio.html" %} {% load static %} {% block head %}
<title>Agregar un Entrenador</title>
{% endblock %} {% block body %}
<!-- Header-->
<header class="bg-warning py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Agregar un Entrenador</h1>
    </div>
  </div>
</header>

<form id="agregarEntrenadorForm" action="/agregarEntrenadorForm" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group mb-3">
          <label for="txtEntrenador">Nombre del entrenador<small> *</small></label>
          <input
            name="txtEntrenador"
            id="txtEntrenador"
            type="text"
            class="form-control"
            placeholder="John"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group mb-3">
          <label for="txtApellido">Apellido<small> *</small></label>
          <input
            name="txtApellido"
            id="txtApellido"
            type="text"
            class="form-control"
            placeholder="Doe"
          />
        </div>
      </div>


      <div class="col-md-4">
        <div class="form-group mb-3">
          <label for="cmbGim">Gimnasio<small> *</small></label>
          <select name="cmbGim" id="cmbGim" class="form-select"> 
            <option disabled selected>Seleccione</option>
            {% for g in gim %}
            <option value="{{g.id}}">{{g.nombre}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="txtServicio">Servicios<small> *</small></label>
          <input
            name="txtServicio"
            id="txtServicio"
            type="text"
            class="form-control"
            placeholder="Servicios del entrenador"
          />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group mb-3">
          <label for="txtCorreo">Correo<small> *</small></label>
          <input
            name="txtCorreo"
            id="txtCorreo"
            type="text"
            class="form-control"
            placeholder="johndoe@gmail.com"
          />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group mb-3">
          <label for="txtPassword">Contraseña<small> *</small></label>
          <input
            name="txtPassword"
            id="txtPassword"
            type="password"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group mb-3">
          <label for="txtPassword">Tipo usuario<small> *</small></label>
          <input
            disabled
            value=2
            name="txtUsuario"
            id="txtUsuario"
            type="text"
            class="form-control"
          />
        </div>
      </div>
      

      <div id="alerta" class="alert alert-danger" style="display: none"></div>

      <hr class="my-4" />
      <div class="form-group mt-2">
        <button id="btnEnviar" type="submit" class="btn btn-success">
          <i class="bi bi-plus-circle-fill"></i> Registrar entrenador
        </button>
      </div>
    </div>
  </div>
</form>

{% endblock %} {% block script %}
{% endblock script %}
