{% extends "baseGymEspacio.html" %} {% load static %} {% block head %}
<title>Lista de Maquinas</title>
{% endblock %} {% block body %}
<!-- ========================= SECTION PAGETOP ========================= -->
<header class="bg-warning py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Lista de Maquinas</h1>
    </div>
  </div>
</header>

<!-- ========================= LISTA DE MAQUINAS ========================= -->
<div class="container">
  <a href="/agregarmaquina" class="btn btn-success mt-4 mb-2"
    ><i class="bi bi-plus-circle-fill"></i> Agregar nueva maquina</a
  >
  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex flex-column">
      <!-- Aquí puedes colocar otros elementos en tu página -->
      
      <!-- Alinea el botón al centro verticalmente -->
      <div class="mt-auto">
        <a href="#" class="btn btn-primary mt-4 mb-2" id="scanButton">
          <i class="bi bi-camera"></i> Escanear una máquina con QR
        </a>
      </div>
    </div>
    <div class="col-md-8 d-flex flex-column">
      <div class="align-self-center" id="cameraContainer"></div>
    </div>    
</div>




<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="table-responsive">
        <table class="table caption-top">
          <caption>
            Lista de Maquinas
          </caption>
          <thead>
            <tr>
              <th class="centered" scope="col">ID</th>
              <th class="centered" scope="col">Nombre</th>
              <th class="centered" scope="col">Zona Muscular</th>
              <th class="centered" scope="col">Descripción</th>
              <th class="centered" scope="col">Enlace Tutorial</th>
              <th class="centered" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for m in maq %}
            <tr>
              <th scope="row">{{m.id}}</th>
              <td>{{m.nombre}}</td>
              <td>{{m.zona_muscular}}</td>
              <td>{{m.descripcion}}</td>
              <td>
                <a href="{{ m.enlace_tutorial }}" target="_blank"
                  >{{ m.enlace_tutorial }}</a
                >
              </td>
              <td>
                <a href="/editarMaquina/{{m.id}}" class="btn btn-primary"
                  ><i class="bi bi-pencil-square"></i> Editar</a
                >
                <a href="/eliminarMaquina/{{m.id}}" class="btn btn-danger"
                  ><i class="bi bi-trash"></i> Eliminar</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script src="{% static 'js/ScanQR.js' %}"></script>
{% endblock script %}
